.Choose_tempreture {
  margin-left: 400px;
  margin-top: 20px;
  height: 50px;
  font-size: 20px;
  width: 400px;
  background-color: #ff94ab;
}
#number {
  margin-left: 400px;
  margin-top: 170px;
  height: 50px;
  font-size: 25px;
  width: 400px;
  background-color: rgb(200, 200, 233);
  border: none;
}
#convert {
  height: 50px;
  width: 100px;
  margin-top: 30px;
  font-size: 20px;
  background-color: hotpink;
  margin-left: 600px;
}
.cover {
  background: url("tem.jpeg");
  height: 700px;
  width: 1365px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  margin-top: -30px;
  opacity: 0.6;
  margin-left: -10px;
}
#value1 {
  height: 40px;
  width: 400px;
  border: none;
  color: black;
  font-size: 25px;
  background-color: rgb(213, 166, 105);
  padding: 5px;
}
#value2 {
  height: 40px;
  width: 400px;
  border: none;
  color: black;
  font-size: 25px;
  background-color: rgb(213, 166, 105);
  padding: 5px;
}
